body {
    // color: #EDB852;
    font-family: 'Benne', serif;
    color: #EDB852;
    text-shadow: -1px -1px #5A3E1E;
    // background-color:#065D6E;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    background-image: url("https://raw.githubusercontent.com/FrankZiWANG-dev/Hangman/main/Assets/LoL-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

// .container {
//     font-family: 'Benne', serif;
// }

#instructions {
    background-color: #404138;
    border: 2px solid #EDB852;
    line-height: 30px;
}

button {
    font-family: 'Benne', serif;

    color: #5A3E1E;
    background-color: #EDB852;
    
    border: 3px solid #5A3E1E;
    border-radius: 5px;

    font-weight: bold;
    font-size: large;

    margin: 5px;
}

#game {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-gap: 20px;
    background-color: #404138;
    padding: 15px;
    margin: 20px;
    border: 3px solid #EDB852;
    border-radius: 5px;
    min-height: 450px;
}

img {
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
}

.WrongLetters {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    padding: 3px;
    margin: auto;
}

.RightLetters {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 3px;
    margin: auto;
}

.hangman {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 3px;
    margin: auto;
}

.input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 3px;
    margin: auto;
}


@mixin defeat {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: radial-gradient(#404138, #993300, #990033, black) ;
    padding: 20px;
}

#TransitionDefeat {
    @include defeat;
}

#6{
    border-radius: 60%;
    box-shadow: 0px 0px 5px 2px black;
}

#Defeat {
    @include defeat;
}

@mixin victory {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: radial-gradient(white, #00cc66,  #006600) ;
    padding: 20px;
}

#TransitionVictory {
    @include victory();
}

#Victory {
    @include victory();
}