body {
    // color: #EDB852;
    font-family: 'Benne', serif;
    color: #EDB852;
    text-shadow: -1px -1px #5A3E1E;
    // background-color:#065D6E;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    background-image: url("https://raw.githubusercontent.com/FrankZiWANG-dev/Hangman/main/Assets/LoL-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

// .container {
//     font-family: 'Benne', serif;
// }

#instructions {
    background-color: #404138;
    border: 2px solid #EDB852;
    line-height: 30px;
}

@mixin ButtonStyle {
    font-family: 'Benne', serif;

    color: #5A3E1E;
    background-color: #EDB852;
    
    border: 3px solid #5A3E1E;
    border-radius: 5px;

    font-weight: bold;
    font-size: large;

    margin: 5px;
}

#InstructionsButton {
    
    @include ButtonStyle();
    
}

#game {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-gap: 20px;
    background-color: #404138;
    padding: 15px;
    margin: 20px;
    border: 3px solid #EDB852;
    border-radius: 5px;
}

.WrongLetters {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    padding: 3px;
}

.RightLetters {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 3px;
}

.hangman {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 3px;
}

.input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 3px;
}

.try {
    @include ButtonStyle();
}

